<form action="agregar" method="post" class="row g-3" enctype="multipart/form-data">
  <div class="col-12">
    <label for="inputAddress1" class="form-label">Title</label>
    <input type="text" name="title" class="form-control" id="inputAddress1" placeholder="titulo del articulo">
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Subtitle</label>
    <input type="text" name="subtitle" class="form-control" id="inputAddress2" placeholder="subtitulo del articulo">
  </div>
  <div class="col-12">
    <label for="inputAddress3" class="form-label">Price</label>
    <input type="text" name="price" class="form-control" id="inputAddress3" placeholder="precio">
  </div>
    <div class="col-12">
    <label for="inputAddress3" class="form-label">Cantidad</label>
    <input type="text" name="quantity" class="form-control" id="inputAddress3" placeholder="cantidad">
  </div>
  <div class="col-12">
    <label for="inputAddress4" class="form-label">Imagen :<input type="file" name="image" class="form-control"
        id="inputAddress4" placeholder="inserte imagen"></label>

  </div>



  <div class="col-12">
    <button type="submit" class="btn btn-primary">Ingresar Articulo</button>
  </div>

</form>