<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h6><a href="http://localhost:3000/admin/login">endpoint:"http://localhost:3000/admin/login"</a></h6>
<h6><a href="http://localhost:3000/admin/novedades">endpoint:"http://localhost:3000/admin/novedades"</a></h6>
<h6><a href="http://localhost:3000/users">endpoint:"http://localhost:3000/users</a>
</h6>

<h6><a href="http://localhost:3000/admin/contacto">endpoint:"http://localhost:3000/admin/contacto</a>
</h6>